* {
    padding: 5px 5px;
    margin: 0;
    background-color: cadetblue;
    color: white;
}

button,
.button {
    background: none;
    border: 2px solid #51dded;
    color: white;
    text-transform: uppercase;
    border-radius: 8px;
}

button:hover,
.button:hover {
    transition: 0.3s;
    border: 2px solid white;
    color: #51dded;
    cursor: pointer;
}

.search-v2{
    margin-top: 20px;
}

#search-input {
    background-color: none;
    color: #51dded;
    border: none;
    outline: none;
    border-bottom: 2px solid #51dded;
}